@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #F6F6F8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.box-btnGradient {
  position: relative;
}

.box-btnGradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;
  background: linear-gradient(90deg, #001FAF, #04E6FF);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.textTitleGradient {
  background-image: linear-gradient(93.15deg, #FDCC9A -49.41%, #04E6FF 98.56%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.layout {
  margin-right: 8rem;
  transition: 0.5s ease;
}

.layout.active {
  margin-right: 21rem;
}

.textSignInGradient {
  background: linear-gradient(107deg, #001FAF -71.23%, #04E6FF 103.67%);
  background-clip: text;
  text-decoration-line: underline;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-box input {
  background: #FFFFFF;
  border: none;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 30px;
  font-size: 20px;
  color: #151C38;
  padding-left: 70px;
  box-shadow: 0px 1px 2px 1px #FFF;
}

.input-box .icon {
  position: absolute;
}

.inputSearch input {
  background: #FFFFFF;
  border: none;
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  font-size: 18px;
  color: #151C38;
  padding-left: 50px;
}

.inputSearch .icon {
  position: absolute;
}



/* Responsive */

@media not all and (min-width: 1536px) {
  .layout {
    margin-right: 6rem;
  }

  .layout.active {
    margin-right: 15.5rem;
  }
}